:root{
    --blue: #00a1ff;
    --orange: #ff5e00;
    --background: rgb(47, 47, 47);
    --nav: rgb(42, 42, 42);
}

html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Smooth Circulars', sans-serif;
    src: url(/fonts/Smooth\ Circulars.otf);
}

@font-face {
    font-family: 'Josefin Sans', sans-serif;
    src: url(/fonts/JosefinSans-Regular.ttf);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    background-color: rgb(47, 47, 47);
    margin-bottom: 8vw;

}

section h2 {
    margin: 0;
    padding-bottom: 1vh;
}

section {
    background-color: rgb(39, 39, 39);
    padding: 20px;/*
    margin-top: 100px;
    border-radius: 15px;
    margin-bottom: 100px; */
    color: white; 
    width: 55vw;
    margin-right: auto;
    margin-left: auto;
    font-size: larger; 
   /* box-shadow: 0 0 40px rgb(15, 15, 15); */
}

.center_img {
    display: block;
    margin: 10px auto 10px auto;
    
}

video {
    width: 50vw;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.column {
    float: left;
    width: 50%;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}

.border_box {
    border: 2px solid; 
    padding: 10px;
    margin: 30px;
}

.li_space {
    margin: 10px;
}

#logo {
    width:50px;
}

.noline {
    text-decoration: none;
    color: white;
    transition-property: all;
    transition-duration: 200ms;
    display: inline-block;
}

button:hover {
    cursor: pointer;
}

a:hover{
    color: var(--blue);

}



h1 {
    font-family: 'Smooth Circulars', sans-serif;
    background-color: var(--blue);
    margin: 0;
    padding: .7vw;
    color: white;
    font-size: 2.7em;
    font-weight: 900;
}

#navbar {
    width: 100vw;
    background-color: rgb(41, 40, 40);
    font-weight: bold;
}

#menuBar{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 0;

}
.collapsible {

    background-color: var(--blue);
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    width: 57.79vw;
    margin-right: auto;
    margin-left: auto;
    font-size: larger; 
    border-radius: 0;
    margin-top: 50px;

  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    width: 55vw;
    background-color: rgb(39, 39, 39);
    color: white;
    display: none;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  } 

 p{
     padding: 0 20px;
 } 


button {
    border: none;
    border-radius: 2px;
    color: white;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: var(--blue);
    transition-property: all;
    transition-duration: 200ms;
    transition-delay: 0s;
    box-shadow: inset 0px 0px 0px #000;
}

a {
    color: var(--blue);
    text-decoration: underline;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding-right: 3em;
    position: relative;
    transition: all ease-in-out 250ms;
}

#navbar a::after{
    content: '';
    position: absolute;
    display: block;
    height: 0.4em;
    width:0%;
    background-color:var(--blue);
    bottom: -.7em;
    border-radius: .1em;
    transition: all ease-in-out 250ms;
}

#navbar a:hover::after{
    width: 70%;
}

#navbar a:hover{
    color:var(--blue);

}

#about{
    margin-right: 33vw;
    margin-left: 5vw;
    padding: 0;
    line-height: 1.2em;
    width: 40vw;
    color: white;
    font-size: 1.7em;
    border: 0px;
    border-radius: .2em;
    display: inline-block;

}
h2{
    color: white;
    margin-right: 33vw;
    margin-left: 5vw;
    font-size: 2.5em;
    margin-bottom: 0;
    display: inline-block;
}

#about__img{
    display: inline-block;
    position: absolute;
    left: 50vw;
    top: 30vh;
    margin-right: 20vw;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.826));
    width: 40vw;

}
 
div#form{
    display: block;
    text-align: center;
    background-color: var(--blue);
    margin-right: 40vw;
    margin-left: 40vw;
    margin-top: 20vh;
    margin-bottom: 10vh;
    padding-bottom: 1vw;
    padding-top: 1vw;
    border-radius: .2em;
    scale: 1.5;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.826)); 
}

form{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    padding: 1em;
    text-align: left;
    color: white;
    font-weight: bold;
}

input{
    width: 17vw;
}
textarea{
    resize: none;
    width: 17vw;
}

.submit{
    font-family: inherit;
    border: none;
    background-color: white;
    color: var(--blue);
    padding: .6em;
    border-radius: .3em;
    float: right;
    margin-top: 1em;
    font-weight: bold;
}

.submit:hover{
    filter: grayscale(1);
    background-color: rgb(206, 206, 206);
}

#name{
    background-color: white;
    border: none;
    padding: .3em;
    border-radius: .2em;
}

#email{
    background-color: white;
    border: none;
    padding: .3em;
    border-radius: .2em;
}
#day{
    background-color: white;
    border: none;
    padding: .3em;
    border-radius: .2em;
}

#time{
    background-color: white;
    border: none;
    padding: .3em;
    border-radius: .2em;
}

#text__area{
    background-color: white;
    border: none;
    padding: .3em;
    border-radius: .2em;
}



input:focus{
    outline: 0;
}

textarea:focus{
    outline: 0;
}

@media only screen and (max-width: 1200px) {
    #about {
        margin: 0;
        margin-left: 5vw;
        margin-bottom: 5vw;
        width: 85vw;
        font-weight: bold;
        color: white;
        font-size: 1.5em;
        border-radius: .2em;
        display: inline-block;
    }
    h2 {
        margin-right: 33vw;
        margin-left: 5vw;
        color: white;
        font-size: 2.25em;
    }
    #about__img {
        position: inherit;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vw;
        width: 80vw;
        
    }
    div#form {
        display: block;
        text-align: center;
        background-color: var(--blue);
        margin-right: 25vw;
        margin-left: 25vw;
        margin-top: 20vh;
        margin-bottom: 18vh;
        padding-bottom: 1vw;
        padding-top: 1vw;
        border-radius: .2em;
        scale: 1.5;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.826)); 
    }
    
    form {
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
        color: white;
        font-weight: bold;
    }
    input{
        width: 45vw;
    }
    textarea{
        resize: none;
        width: 45vw;
    }
}

@media only screen and (max-width: 1000px){
    #about {
        margin: 0;
        margin-left: 5vw;
        margin-bottom: 5vw;
        width: 85vw;
        font-weight: bold;
        color: white;
        font-size: 1.5em;
        border-radius: .2em;
        display: inline-block;
    }
    h2 {
        margin-right: 33vw;
        margin-left: 5vw;
        color: white;
        font-size: 2.25em;
    }
    #about__img {
        position: inherit;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20vh;
        width: 90vw;
    }
    div#form {
        display: block;
        text-align: center;
        background-color: var(--blue);
        margin-right: 25vw;
        margin-left: 25vw;
        margin-top: 20vh;
        margin-bottom: 18vh;
        padding-bottom: 1vw;
        padding-top: 1vw;
        border-radius: .2em;
        scale: 1.5;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.826)); 
    }
    
    form {
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
        color: white;
        font-weight: bold;
    }
    input{
        width: 44vw;
    }
    textarea{
        resize: none;
        width: 44vw;
    }
}

@media only screen and (max-width: 600px) {
    #about__img {
        position: inherit;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vw;
        width: 80vw;
    }
    #about {
        margin: 0;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 5vw;
        width: 85vw;
        font-weight: bold;
        color: white;
        font-size: 1.2em;
        border-radius: .2em;
        display: inline-block;
    }
    h2 {
        margin-right: 33vw;
        margin-left: 5vw;
        color: white;
        font-size: 1.75em;
    }
    div#form {
        display: block;
        text-align: center;
        background-color: var(--blue);
        margin-right: 20vw;
        margin-left: 20vw;
        margin-top: 20vh;
        margin-bottom: 18vh;
        padding-bottom: 1vw;
        padding-top: 1vw;
        border-radius: .2em;
        scale: 1.5;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.826)); 
    }
    
    form {
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
        color: white;
        font-weight: bold;
    }
    input{
        width: 50vw;
    }
    textarea{
        resize: none;
        width: 50vw;
    }
}