@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Kanit&display=swap');
		
    html {
			margin: 2vw;
			background-color: rgb(29, 29, 29);
			font-family: 'Kanit', sans-serif;
		}

	header {
			background-image: linear-gradient(#930303, #f33e1a);
			padding: .01vw;
			border-radius: 2vw;
		    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.826));
			text-align: center;
			color: white;
			font-size: larger;


		}
    .Elements {
    	background-image: linear-gradient(#f33e1a, #FF773D );
		color: white;
		padding: 2vw;
		border-radius: 1vw;
		padding-top: .01vw;
		filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.826));
	}
	.Lists {
		background-image: linear-gradient(#FF773D, #FFB238 );
		color: white;
		padding: 2vw;
		
		border-radius: 1vw;
		padding-top: .01vw;
		filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.826));
	}
	.Tables {
		background-image: linear-gradient(#F19143, #FFB238 );
		color: white;
		padding: 2vw;
		
		border-radius: 1vw;
		padding-top: .01vw;	
		filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.826));
	}
	.Links {
		background-image: linear-gradient(#FFB238, #FABC3C );
		color: white;
		padding: 2vw;
		
		border-radius: 1vw;
		padding-top: .01vw;
		filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.826));
	}
	.Images {
		background-image: linear-gradient(#FABC3C, #face3c );
		color: white;
		padding: 2vw;
		
		border-radius: 1vw;
		padding-top: .01vw;
		filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.826));
	}
	.SSR {
		background-image: linear-gradient(#face3c, rgb(255, 208, 0) );
		color: rgb(255, 255, 255);
		padding: 2vw;
		
		border-radius: 1vw;
		padding-top: .01vw;
		filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.826));
	}
	li > a, div > a {
		text-decoration: none;
		color: white;
		font-size: larger;
	}
	a:hover {
		font-weight: bolder;
	}
	footer > a {
		text-decoration: none;
		color: white;
	}
	footer {
		text-decoration: none;
		color: white;
		background-image: linear-gradient(rgb(255, 238, 0), rgb(255, 100, 0));
		padding: 1vw;
		border-radius: 1vw;
		margin-bottom: 2vw;
		margin-left: 30vw;
		margin-right: 30vw;
		filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.826));
	}
	.heading {
		text-align: center;
		color: rgb(255, 255, 255);
		filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.8));
		font-size: 28px;
	}
	
	